{% extends 'base.html.twig' %}
{% block title %}Gérer les biens{% endblock %}
{% block body %}
    <div class="container mt-4">
        <h1>Gérer les biens</h1>
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{message}}
            </div>            
        {% endfor %} 
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Titre</th>
                    <th>ID</th>
                    <th>Prix</th>
                    <th>Actions</th>    
                </tr>
            </thead>
            <tbody>
                {% for property in properties %}
                <tr>
                    <td>{{property.title}}</td>
                    <td>{{property.title}}</td>
                    <td>{{property.formatedPrice}} €</td>
                    <td>
                        <a href="{{ path('admin.property.edit' , {id: property.id}) }}" class="btn btn-secondary">Editer</a>
                        <a style='display:inline-block' href="{{ path('admin.property.delete' , {id: property.id}) }}" class="btn btn-danger" onclick="return confirm('Êtes vous sûr ?')">Supprimer</a>
                        <a style='display:inline-block' href="{{ path('admin.property.see' , {id: property.id}) }}" class="btn btn-dark">Voir</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="text-right">
            <a href="{{ path('admin.property.create') }}" class="btn btn-primary">Créer un bien</a>
        </div>

    </div>
    

{% endblock %}